@tailwind base;
@tailwind components;
@tailwind utilities;

.pagination div p {
    display: none;
}

.pagination span[aria-current="page"] span {
    background-color: #60a5fa;
    color: #fff;
    font-weight: bold;
}

#hits {
    display: none;
}

.wrapper.search-wrapper {
    padding: 30px 0;
}
