// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@font-face {
    font-family: "GmarketSansMedium";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
        format("woff");
    font-weight: normal;
    font-style: normal;
}

html > body {
    font-family: "GmarketSansMedium";
    text-underline-position: under;
}

.multiline-truncate-2 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.multiline-truncate-3 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}

a {
   color: inherit;
   text-decoration: inherit; 
}

.feeling_div {
    display: flex;
    justify-content: left;
    align-items: center;
  } 
  .button-container {
    margin-left: 20px;
  }
  .feeling_a {
    background-color: #fff;
    border: 2px solid #2199e8;
    padding: 10px 20px;
    border-radius: 2px;
    color: #2199e8;
  }     
